<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uni-Art player</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <style>
        div {
            margin-bottom: 20px;
            margin-left: 20px;
        }

        div > input, select, label, span, button {
            margin-bottom: 15px;
            margin-left: 20px;
            margin-right: 10px;
        }

        button {
            padding: 2px 50px;
        }

        label {
            font-weight: bold;
        }

        .hide {
            display: none !important;
        }

        .options {
        }

        .hint{
            margin-left: 0px;
            font-style: italic;
            font-size: 12px;
        }

    </style>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body style="font-family: Arial, sans-serif">
    <h1>Uni-Art player</h1>

    <div class="options">
        <h3>Font options</h3>

        <label for="font-path">Font:</label>
        <select id="font-path" style="width: 200px;">
            <option value="Custom font">Custom font</option>
        </select>

        <label for="font-charset">Charset:</label>
        <input type="input" id="font-charset" value="unicode" style="width: 200px;">

        <label for="font-text-color">Text color:</label>
        <input type="color" id="font-text-color" value="#000000" style="width: 25px;">

        <label for="font-bg-color">Background color:</label>
        <input type="color" id="font-bg-color" value="#FFFFFF" style="width: 25px;">
        <br>
        <label for="font-embedded-color">Color:</label>
        <input type="checkbox" id="font-embedded-color" checked>

        <label for="font-kerning">Kerning:</label>
        <input type="checkbox" id="font-kerning" checked>

        <label for="font-ligatures">Ligatures:</label>
        <input type="checkbox" id="font-ligatures">

        <label for="font-force-monospace">Force monospace:</label>
        <input type="checkbox" id="font-force-monospace">

        <label for="font-render-size">Font render size:</label>
        <input type="number" id="font-render-size" min="1" value="100" style="width: 50px;">
        <br>
        <button id="font-set-button">Set font</button>
        <span style="font-weight: bold">Selected font:</span>
        <span id="selected-font">None</span>
        <br>
        <span class="hint hide" >
            <b>Font:</b> Font to be used for rendering<br>
            <b>Charset:</b> Either 'unicode', 'ascii' or string containing characters allowed to be used<br>
            <b>Text color</b> Desired color of rendered text<br>
            <b>Background color:</b>: Desired background color for rendered text<br>
            <b>Color:</b> Whether to use color in font characters (emoji etc.)<br>
            <b>Kerning:</b> Whether to use kerning<br>
            <b>Ligatures:</b> Whether to use ligatures (not recommended for some fonts since not all ligatures supported by font are supported by browser)<br>
            <b>Force monospace:</b> Whether to force rendering font as monospace (usually not recommended)<br>
            <b>Font render size:</b> Size at which the font will be rendered with (recommended to not go bellow 20, also.. some fonts might require specific value to work)<br>
            <b>Set font (button):</b> Set currently used font by pressing this button<br>
        </span>
    </div>

    <div class="options">
        <h3>Media options</h3>

        <label for="media-source">Source:</label>
        <select id="media-source" style="width: 200px;">
            <option value="Custom media">Custom media</option>
        </select>

        <label for="media-character-count">Character count:</label>
        <input type="number" id="media-character-count" value="5000" style="width: 60px;">

        <label for="media-row-spacing">Row spacing:</label>
        <input type="number" id="media-row-spacing" value="1.0" step="0.01" style="width: 50px;">
        <br>
        <label for="media-distance-metric">Distance metric:</label>
        <select id="media-distance-metric" style="width: 150px;">
            <option value="manhattan">Manhattan</option>
            <option value="euclidean">Euclidean</option>
        </select>

        <label for="media-frame-rate">Frame rate:</label>
        <input type="number" id="media-frame-rate" class="video-setting" value="30" style="width: 50px;">

        <label for="media-chunk-length">Chunk length:</label>
        <input type="number" id="media-chunk-length" class="video-setting" value="5" style="width: 30px;">

        <label for="media-buffer-size">Buffer size:</label>
        <input type="number" id="media-buffer-size" class="video-setting" value="100" style="width: 50px;">
        <br>
        <button id="media-set-button">Set media</button>
        <span style="font-weight: bold">Selected media:</span>
        <span id="selected-media">None</span>
        <br>
        <span class="hint hide" >
            <b>Source:</b> Source file to render<br>
            <b>Character count:</b> Aproximate number of (visible) characters to be used<br>
            <b>Row spacing:</b> Aditional distance between rows expected while rendering<br>
            <b>Distance metric:</b> Distance metric to be used when quering for color-closest characters<br>
            <b>Frame rate:</b> Frame rate used for rendering (video only)<br>
            <b>Chunk length:</b> Length of chunks in which the video is rendered, smaller values mean less waiting when jumping through video, but possible performance issues (video only)<br>
            <b>Set media (button):</b> Set currently used media by pressing this button<br>
        </span>
        <br>
        <span style="font-weight: bold; margin-left: 0px;">Info console:</span>
        <span id="info-console">Nothing here yet</span>
    </div>

    <div>
        <label for="player-text-size", style="margin-left: 0px">Text size:</label>
        <input type="range" id="player-text-size" min="1" max="100" step="1" value="15" style="width: 150px">

        <span style="font-weight: bold">Current time (s):</span>
        <span id="player-current-time">0</span>

        <label for="player-jump-time">Jump to time (s):</label>
        <input type="number" id="player-jump-time" value="0" style="width: 50px;">
        <button id="player-jump-time-button">Jump</button>

        <button id="options-toggle-button" >Show/Hide options</button>
        <button id="hint-toggle-button">Show/Hide hints</button>
        <br>
        <span class="hint hide">
            <b>Text size:</b> Text size of rendered media, if the "image" is too big try lowering this value<br>
            <b>Current time (s):</b> Current time since the start of the video in seconds (video only)<br>
            <b>Jump to time (s):</b> After pressing the Jump button, player will jump to the selected time of the video (video only)<br>
            <b>Keyboard controls:</b> Space to pause/unpause the video, A and D (or arrows) to jump back/forward 10s, if the controls are not working make sure that no text box is selected (video only)<br>
        </span>
    </div>

    <div>
        <span style="font-size: 15px; margin-left: 0px; white-space: pre-wrap" id="display"></span>
    </div>

</body>
</html>
